
html, body { 
  width: 100%;
  height: auto;
}

ul {
  position: absolute;
  right: 25px;
  margin: 0px;
}

li {
  list-style: none;
  float: right;
  padding: 42px 10px;
}
.header {
  background-color: rgba(60, 124, 209, 0.912);
  color: #ffffff;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 10;
}
a {
  color: #000;
  text-decoration: none;
}
.header-logo {
  float: left;
  font-size: 36px;
  padding: 30px 40px;
}
.header span{
  float: right;
  margin: 35px 30px;
  font-size: x-large;
  display: none;
}


.main {
  font-family: "Lucida Grande";
}
.title {
  padding: 240px 0px 40px 0px;
  text-align: center;
  background-image: url("IMG/BG1.jpeg");
  background-size: cover;
}
.title2 {
  text-align: center;
}
.content {
  margin: 0 100px;
  padding-bottom: 50px;
}

h1 {
  font-size: 52px;
  margin: 0px;
  color: #ffffff;
}
h3 {
  margin: 0px;
}
h2 {
  margin-bottom: 5px;
}
.text1 {
  font-size: 22px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 30px;
}
.text2 {
  text-align: left;
}
.text3 {
  margin: 0px;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  box-shadow: 0 7px #9b8a36;

}
.btn:hover {
  background-color: #c5b358;
  opacity: 1;
}

.order {
  background-color: #c6a967;
}
.p {
  margin: 0px;
}
.benefit {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.list {
  height: 60px;
  margin-right: 30px;
}

span {
  position: relative;
  top: 5px;
  height: 58px;
  display: block;
  margin-right: 5px;
  float: left;
}



#container {
  margin-top: 80px;
  padding: 20px;
  background-color: #eee;
  text-align: center;
}

#package {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.product-card {
  text-align: center;
}

.card {
  border: 1px solid black;
  max-width: 300px;
  margin: 50px;
  text-align: center;
  float: left;
}

.price {
  color: grey;
  font-size: 22px;
}

.thumbnail {
  padding: 0 0;
}

.card h1 {
  font-size: 25px;
  text-align: center;
}

.card p {
  font-size: 15px;
  text-align: center;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80px;
  font-size: 18px;
  display: inline-block;
}

.card button:hover {
  opacity: 0.7;
}

.other {
  position: relative;
  margin: auto;
  width: 50%;
  padding: 0px;
}

.other p {
  text-align: center;
}

.btn {
  background-color: #2980b9;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}


.carousel-wrapper {
  height: 400px;
  position: relative;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}



[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;

  background: url("img/imageslider01.jpg");
  background-size: cover;
}
.item-2 {
  background: url("img/imageslider02.jpg");
  background-size: cover;
}
.item-3 {
  background: url("img/imageslider03.jpg");
  background-size: cover;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

footer {
  position: relative;
  background-color: rgba(226, 185, 135, 0.912);
  color: rgb(0, 0, 0);
  height: 100px;
  
}
.copyright {
  position: absolute;
  color: #000;
  font-family: "lucida grande";
  opacity: 0.5;
  text-align: left;
  font-size: 10px;
  bottom: 15px;
  left: 40px;
}
/* Tambahan css form alaric */
.contact-form{
  padding-top: 100px;
  
}
.contact-form input,textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}


.contact-submit {
  background-color:#dee7ec;
  color :#889eab;
}
.footer-logo {
  font-size: 32px;
  float: left;
  padding: 30px 40px;
}
.footer-list {
  float: right;
  
}
footer li {

  list-style: none;
  font: lucida grande;
}


.header a:hover {
  color: #fff;
}

.btn {
  background-color: #c6a967;
}

.btn:active {
  background-color: #c5b358;
  position: relative;
  top: 7px;
  box-shadow: none;
}

.card button {
  border-radius: 4px;
}

.card button:active {
  background-color: #000;
  box-shadow: 0 7px #5c5c5c;
  transform: translateY(5px);
}

input[type="submit"] {
  border-radius: 4px;
}

input[type="submit"]:active {
  background-color: #45a049;
  box-shadow: 7px 7px #367c39;
  transform: translate3d(2px, 5px, 1px);
}

.card:hover {
  width: 300px;
  height: 471px;
  box-shadow: 5px 10px rgba(226, 185, 135, 0.912);
}

.card:active {
  transform: translate3d(5px, 5px, 5px);
}
footer{
  transition: all 0.5s;
}
footer li:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

